body{
    margin:0px;
    padding:0px;
    background-color:rgb(241, 241, 241);
}

#main{
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0,3s;
    width: 20%;
    margin:15px;
    float:left;
    overflow:hidden;
    background-color:white;
}
#main:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#main img{
    width:100%;
}
#container{
    padding:5px;
    text-align:center;

}
